*{
  margin: 0;
  padding: 0;
  font-family: Playfair Display;
}

body {
  background-color: #EFEFEF;
}

.header-img{
  height: 300px;
  width: 300px;
  object-fit: contain;
}

hr{
  width: 70%;
}

.phd-student{
  margin-top: -22px;
}

.full-line{
  width: 30%;
}